{% extends 'layout.html' %}
{% block title %} Authors {% endblock %}
    {% block content%}
    <h1>Authors which Acereads stocks</h1>
    <br>
    <ul>
        <li>Julia Donaldson</li>
        <li>1948-09-16</li>
        <br>
        <li>Andrea Beaty</li>
        <li>1961-10-08</li>
        <br>
        <li>Kelly Barnhill"</li>
        <li>1973-01-01</li>
        <br>
        <li>Zetta Elliott</li>
        <li>1979-11-11</li>
        
    </ul>
    <br>
    <h4><a href='/'>Homepage</a></h4>
    {% endblock %}
