<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Authors</title>
</head>
<body>
    <h1>Authors which Acereads stocks</h1>
    <br>
    <ul>
        <li>Julia Donaldson</li>
        <li>1948-09-16</li>
        <br>
        <li>Andrea Beaty</li>
        <li>1961-10-08</li>
        <br>
        <li>Kelly Barnhill"</li>
        <li>1973-01-01</li>
        <br>
        <li>Zetta Elliott</li>
        <li>1979-11-11</li>
        
    </ul>
    <br>
    <h4><a href='/'>Homepage</a></h4>
</body>
<footer>
    <h5>
        Visit us on social media
    </h5>
    <ul><a href='https://www.facebook.com' target='_blank'>Visit our Facebook</a></ul>
    <ul><a href='https://www.instagram.com' target='_blank'>Visit our Instagram</a></ul>
    <ul><a href='https://www.tiktok.com' target='_blank'>Visit our TikTok</a></ul>
</footer>
</html>