<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Welcome page</title>
</head>
<body>
    <h1>Books Acereads has available</h1>
    <br>
    <ul>
        <li>The Gruffalo</li>
        <li>Julia Donaldson</li>
        <br>
        <li>Ada Twist, Scientist</li>
        <li>Andrea Beaty</li>
        <br>
        <li>The Girl Who Drank the Moon</li>
        <li>Kelly Barnhill</li>
        <br>
        <li>Dragons in a Bag</li>
        <li>Zetta Elliott</li>
        
    </ul>
    <br>
    <h4><a href='/'>Homepage</a></h4>
</body>
<footer>
    <h5>
        Visit us on social media
    </h5>
    <ul><a href='https://www.facebook.com' target='_blank'>Visit our Facebook</a></ul>
    <ul><a href='https://www.instagram.com' target='_blank'>Visit our Instagram</a></ul>
    <ul><a href='https://www.tiktok.com' target='_blank'>Visit our TikTok</a></ul>
</footer>
</html>