{% extends 'layout.html' %}
{% block title %} Books {% endblock %}
    {% block content%}
    <h3>Books Acereads has available</h3>
    <br>
    <div class="list-container mx-auto col-4">
    <ul class="list-group list-group-flush">
        {% for book in books %}
            <li class="list-group-item">{{book.title}} by {{book.author}}</li>
            <br>
            {% endfor %}
    </ul>
    </div>
    <div class="fixed-bottom text-center">
    <h5><a href='/'>Home</a></h5>
    </div>
{% endblock %}
