{% extends 'layout.html' %}
{% block title %} Films {% endblock %}
    {% block content%}
    <h3>Films Acereads has available</h3>
    <br>
    <div class="list-container mx-auto col-4">
    <ul class="list-group list-group-flush">
        {% for film in films %}
            <li class="list-group-item">{{film.title}} released {{film.release_year}}</li>
            {% endfor %}
    </ul>
    </div>
    <div class="fixed-bottom text-center">
    <h5><a href='/'>Home</a></h5>
    </div>
    {% endblock %}
