{% extends 'layout.html' %}
{% block title %} Welcome {% endblock %}

    {% block content%}
    <h1>Welcome to AceReads</h1>
    <br>
    
    <p>Welcome to Acereads make a selection from our menu below</p>
    <br>
    <div class="list-container">
    <ul class="my-ul">
        <li><h5><a href='/books'>View All Books</a></h5></li>
        <div class="spacer"></div>
        <li><h5><a href='/authors'>View All Authors</a></h5></li>
        <div class="spacer"></div>
        <li><h5><a href='/team'>Meet Our Team</a></h5></li>
    </ul>
    </div>
    <br>
    {% endblock %}
