{% extends 'layout.html' %}
{% block title %} Add User {% endblock %}
{% block content %}
    <h3>Login</h3>
    <br>
    <div class="list-container mx-auto col-4">
    <form method="POST" action="/sessions">
    <ul class="list-group">
        <li class="form-list">
            <label for="username">Username</label>
            </li>
            <li>
            <input type="text" name="username" id="username" required>
        </li>
        <li class="form-list">
            <label for="password">Password</label>
            </li>
            <li>
            <input type="password" name="password" id="password" required>
        </li>
        <li class="text-end">
            <input class="btn btn-dark form-button" type="submit">
        </li>
    </ul>
    </form>
    </div>
      <br>
    <div class="fixed-bottom text-center">
    <h5><a href='/'>Home</a></h5>
    </div>
{% endblock %}